main>.container {
	padding: 30px 0;
}


* {

	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

body {
	background: rgb(236, 255, 200);
	background: radial-gradient(circle, rgba(236, 255, 200, 1) 0%, rgba(0, 190, 255, 1) 100%);
	text-align: center;
	font-family: sans-serif;
	color: #000;
}

h1 {
	font-size: 40px;
	padding: 10px;
}

h2 {
	font-size: 35px;
}

h3 {
	font-size: 22px;
}

p {
	font-size: 18px;
	padding: 10px;
}

.contenedor_loader {
	background: rgb(236, 255, 200);
	background: radial-gradient(circle, rgba(236, 255, 200, 1) 0%, rgba(0, 190, 255, 1) 100%);
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 9999;
	transition: all 1.5s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.loader,
.loader:before,
.loader:after {
	border-radius: 50%;
	width: 2.5em;
	height: 2.5em;
	animation: loader 1.5s infinite ease-in-out;
}

.loader {
	color: #fff;
	font-size: 13px;
	position: relative;
	animation-delay: -0.16s;
}

.loader:before,
.loader:after {
	content: '';
	position: absolute;
	top: 0;
}

.loader:before {
	left: -3.5em;
	animation-delay: -0.32s;
}

.loader:after {
	left: 3.5em;

}




@keyframes loader {

	0%,
	80%,
	100% {
		box-shadow: 0 2.5em 0 -1.3em;
	}

	40% {
		box-shadow: 0 2.5em 0 0;
	}
}


#menu-admin {
	top: 0;
	width: 100%;
	background: #000000b0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 5px 0 10px rgba(0, 0, 0, .6);
	transition: 0.5s;
	z-index: 99;
}


.logo {
	color: #fff;
	font-size: 26px;
	padding: 0 54px;
	font-weight: bold;
}

.logo p {
	font-size: 15px;
	padding: 0px;
	text-align: right;
}

.logo img {
	width: 15px;
	height: 15px;
	padding-left: 4px;
}

.menu_items {
	display: flex;
	list-style: none;
	margin-right: 30px;
}

.menu_items li {
	border-radius: 3px;
	margin: 0 5px;
}

.menu_items li a {
	padding: 7px 13px;
	text-decoration: none;
	font-size: 18px;
	display: block;
	text-transform: uppercase;
	color: #fff;
}

.menu_items li:hover,
li.active {
	background-color: #858585;
	transition: .4s;
}

.btn_menu {
	margin-right: 30px;
	font-size: 25px;
	color: #fff;
	cursor: pointer;
	display: none;
}

ul.show {
	top: 65px;
}


button {
	-webkit-transition-duration: 0.4s;
	/* Safari */
	transition-duration: 0.4s;
	background-color: #0033cc;
	color: #fff;
	border: none;
	padding: 7px;
	border-radius: 5px;
}

button:hover {
	background-color: #fff;
	/* Green */
	color: #0033cc;
}

button a {
	text-decoration: none;
}

button a:hover {
	color: #0033cc;
}

a:hover {
	color: #0033cc;
}